.container{
    margin:30px 0;
}
.card{
    margin: 0 1% !important;
    background-color: rgb(233, 42, 233);
    

}


.infected{
    
    border-bottom:10px solid rgba(0,0,255,0.5);
    
}
.recovered{
    background-color: springgreen;
    border-bottom:10px solid rgba(3, 246, 15, 0.966);
}
.deaths{
    border-bottom:10px solid rgba(255, 0, 0, 0.945);
}
.co{
    background-color: rgb(76, 205, 238);
}
.co1{
    background-color: rgb(117, 236, 133);
}
.co2{
    background-color: rgb(236, 121, 117);
}

/* @media(max-width:770px){
    .container{
        margin:30px 0;
    }
    .card{
        margin-left:  2% !important;
      
        
    
    }
} */